name: Build and Publish image to Docker Hub
on:
  push:
    branches: ["**"]
  pull_request_target:

jobs:
  publish_images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

      - name: Build and Push image
        run: |
          NS="${{ secrets.DOCKER_HUB_USERNAME }}"  # or your org name
          docker build -t "$NS/user-service:dev" -f ./backend/user-service/Dockerfile ./backend/user-service
          docker push "$NS/user-service:dev"
