name: Build and Publish images to Docker Hub

on:
  push:
    branches: [workf]
  pull_request:

jobs:
  publish_images:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build images
        run: |
          docker build -t "$NS/user-service:dev" -f ./backend/user-service/Dockerfile ./backend/user-service

      - name: Push images
        run: |
          docker push "$NS/user-service:dev"
