name: Build and Publish image to Docker Hub
on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  publish_images:
  runs-on: ubuntu-latest
  steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: build image
      run: |
        docker build -t local/user-service:dev -f ./backend/user-service/Dockerfile ./backend/user-service
        docker build -t local/question-service:dev -f ./backend/question-service/Dockerfile ./backend/question-service
        docker build -t local/matching-service:dev -f ./backend/matching-service/Dockerfile ./backend/matching-service
        docker build -t local/collaboration-service:dev -f ./backend/collaboration-service/Dockerfile ./backend/collaboration-service
        docker build -t local/notification-service:dev -f ./backend/notification-service/Dockerfile ./backend/notification-service
        docker build -t local/execution-service:dev -f ./backend/execution-service/Dockerfile ./backend/execution-service
        docker build -t local/ai-service:dev -f ./backend/ai-service/Dockerfile ./backend/ai-service
        docker build -t local/api-gateway:dev -f ./backend/api-gateway/Dockerfile ./backend/api-gateway
        docker build -t local/frontend:dev -f ./frontend/Dockerfile ./frontend
    - name: push image to docker Hub
      run: |
        docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        docker push local/user-service:dev
        docker push local/question-service:dev
        docker push local/matching-service:dev
        docker push local/collaboration-service:dev
        docker push local/notification-service:dev
        docker push local/execution-service:dev
        docker push local/ai-service:dev
        docker push local/api-gateway:dev
        docker push local/frontend:dev
