name: Build image
on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build image
        run: |
          NS="${{ secrets.DOCKER_HUB_USERNAME }}"
          docker build -t "$NS/user-service:dev" -f ./backend/user-service/Dockerfile ./backend/user-service